{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1561536935-964b28eb54ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bHVtYmVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>

          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %}
        {% if messages: %}
          {% for message in messages: %}
            <p style="color:red; margin: 0 auto;">{{ message }}<br></p>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}